<html>
	<head>
		<style>
			* html, body { font-family: Helvetica; }
			.song-title { font-size: 1.4 em; margin: 0; padding: 0; }
			.song-subtitle { font-size: 1.1em; margin: 0; padding: 0; }
			table.song-line { margin-left: 20px }
			tr.song-chords td { padding: 4px 4px 0 0; font-weight: bold; vertical-align: bottom; }
		</style>
	</head>
	<body>
		{{{body}}}
	</body>
</html>