<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<table class="charter-header">
			<tr>
				<td>{{{header}}}</td>
				<td class="charter-logo">Chart by ReverentGeek</td>
			</tr>
		</table>
		{{{body}}}
		{{!-- {{{footer}}} --}}
	</body>
</html>