<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/styles.css">
		{{#if columns}}
			<link rel="stylesheet" href="/assets/2column.css">
		{{/if}}
	</head>
	<body>
		<div class="charter-header">
			<div class="charter-header-text">{{{header}}}</div>
			<div class="charter-header-logo">
				<img class="charter-logo" src="/assets/logo.jpg">
			</div>
		</div>
		{{{body}}}
		{{!-- {{{footer}}} --}}
	</body>
</html>